@import "base/variables";
@import "base/mixins";

  html, body {
  font-family: 'Kayak', sans-serif;
  font-weight: 400;

  }
/* html, body {
  font-family: 'Kayak', sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
  font-size: 10px;
} */

.container {
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 40px;

}

@import "blocks/titles";
@import "blocks/buttons";
@import "blocks/header";
@import "blocks/discover";
@import "blocks/localrest";
@import "blocks/order";
@import "blocks/tracker";
@import "blocks/getapp";
@import "blocks/services";
@import "blocks/footer";
@import "blocks/modal";

