.discover {
    &__wrapper {
        // margin: 60px 235px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__adress {
        margin-left: 135px;
        display: flex;
        flex-wrap: wrap;
    }
    &__geolocation {
        width: 480px;
        height: 70px;
        border: solid 1px #9b9a9a;
        border-radius: 10px;
        &::placeholder {
            padding-left: 35px;
            font-size: 1.6rem;
            line-height: 4.38;
        }
    }
    &__btn {
        width: 200px;
        margin-left: 5px;
    }
}