.find {
    display: flex;
    align-items: center;
    justify-content: center;
    &__adress {
        display: flex;
        flex-direction: column;
    &__geolocation {
        width: 480px;
        height: 65px;
    }
}
}