.footer {
    background-color: #262626;
    padding-top: 130px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        font-size: 2rem;
        font-weight: 300;
        line-height: 2.55;
        letter-spacing: -0.4px;
        color: #ffffff;
        border-top: 1px solid #3d3d3d;
    }
    &__blocks-wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__inner-block {
        margin-right: 145px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__language {
        font-size: 2rem;
        width: 200px;
        background-color: #262626;
        color: #ffffff;  
    }
    &__menu-list {
        padding: 0;
        list-style: none;
        &--row {
            width: 140px;
            display: flex;
            justify-content: space-between;
        }
    }
    &__menu-link {
        text-decoration: none;
        color: #ffffff;
    }
    &__copyright {
        font-size: 16px;
        line-height: 2.5;
        text-align: left;
        color: rgba(255, 255, 255, 0.2);
    }
    }
