.getapp {
    background: url('../img/getapp/vegetables.png') left center/cover no-repeat,
    url('../img/getapp/grass.png') 85% 15% no-repeat,
    url('../img/getapp/eggs.png') 55% 80% no-repeat,
    url('../img/getapp/herb.png') 100% 80% no-repeat;
    background-color: #f8f8f9;
    min-height: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -280px;
    &__wrapper {
        flex-direction: column;
        width: 530px;
        align-self: flex-end;
    }
    &__subtitle-wrapper {
        display: flex;
        align-items: center;
    }
    &__subtitle {
        margin-left: 35px;
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.28;
        letter-spacing: -0.8px;

        &--greenpart {
            color: $base-color;
        }
    }
    &__badges {
        align-self: flex-start;
        margin-top: 80px;
        margin-bottom: 200px;
    }
    &__link {
        margin-right: 10px;
    }
    &__btn {
    padding: 25px 50px;
    }
}