.getapp {
    background: url('../../img/getapp/vegetables.png') left center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

    &__badges {
        display: flex;
        flex-direction: column;
    }
    &__subtitle {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.28;
    letter-spacing: -0.8px;
        &--greenpart {
            color: $base-color;
        }
    }
}