.header {
  background: url("../../img/header/big_dish.png") right top no-repeat,
    url("../../img/header/headerbg_shape.png") center center/cover no-repeat;
  &__wrapper {
    padding: 45px 175px 190px 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__order-area {
    max-width: 390px;
    margin-top: 200px;
  }
  &__btn--bs {
    width: 220px;
  }
  &__onion-wrapper {
    transform: translate(-150%, 100%);
    position: relative;
    &:after {
      content: "";
      position: absolute;
      top: -35px;
      right: 15px;
      width: 90px;
      height: 90px;
      background-image: url(../../img/header/petrucho.png);
      background-repeat: no-repeat;
      z-index: -1;
    }
  }
  &__btn--sign {
    @include flexcenter;
    position: relative;
    width: 115px;
    height: 45px;
    z-index: 1;
    align-self: flex-start;
    font-size: 1.9rem;
    line-height: 70px;
    font-weight: 700;
  }
}
