.header {
  background: url("../img/header/big_dish.png") right top no-repeat,
  url('../img/header/header-sliced.png') 35% 60% no-repeat,
  url('../img/header/petrucho.png') 40% 47% no-repeat,
  url("../img/header/headerbg_shape.png") no-repeat;
  background-size: auto, auto, auto, 100% 100%;
    min-height: 900px;
  
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__order-area {
    max-width: 470px;
    margin-top: 200px;
  }
  &__btn--bs {
    padding: 25px 35px;
  }
  &__btn--sign {
    @include flexcenter;
    margin-top: 50px;
    padding: 10px 25px;
    align-self: flex-start;
    font-size: 1.9rem;
    font-weight: 700;
  }
}
