.header {
  height: 100vh;
  background: url('../../img/header/big_dish.png') right top no-repeat, url('../../img/header/headerbg_shape.png') center center/cover
    no-repeat;
  &__wrapper {
    padding: 45px 175px 190px 180px;  
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__order-area {
    max-width: 390px;
    z-index: 1;
    margin-top: 200px;
  }
  &__image {
    position: absolute;
    right: 0;
    top: 0;
  }
  &__btn--bs {
    width: 220px;
  }
  &__btn--sign {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 115px;
    height: 45px;
    z-index: 1;
    align-self: flex-start;
    font-size: 1.9rem;
    line-height: 70px;
    font-weight: 700;
  }
}
