.localrest {
  background: url('../img/localrest/cucumbers.png') left bottom no-repeat,
  url('../img/localrest/broken_egg.png') 105% 25% no-repeat,
  url('../img/localrest/shape3section.png') no-repeat;

  
  background-size: auto, auto, 100% 100%;
  min-height: 1400px;
  @include flexcenter;
  &__wrapper {
    background: url('../img/order/wave.png') 10% 20% no-repeat;
    @include flexcenter;
   
  }
  &__favour {
    display: flex;
    flex-direction: column;
    width: 755px;
    margin-right: 200px;
  }
  &__btn {
    margin-top: 50px;
    width: 200px;
  }
}
