.order {
  min-height: 1400px;
  background: url("../img/order/hands.png") left 250px no-repeat,
  url("../img/order/smalldish.png") right center no-repeat,
  url('../img/order/mushroom.png') 65% 0% no-repeat,
  url('../img/order/wave.png') 43% 80% no-repeat;

  background-size: cover, auto, auto, auto;
  @include flexcenter;

  &__title {
    width: 670px;
    margin-left: 300px;
  }
  &__link {
    text-decoration: none;
  }
}

