.services {
  @include flexcenter;
  padding-top: 150px;
  min-height: 750px;
  background: url(../img/services/servicebg.png) no-repeat;
  background-size: 100% 100%;
  &__wrapper {
    @include flexcenter;
  }

  &__deliver {
    width: 420px;
    padding: 0 95px;
    border-right: 2px solid #d8d9db;
    &:last-child {
      border: none;
    }
  }

  &__partner {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 2;
    letter-spacing: -0.7px;
    color: $base-color;
  }

  &__descr {
    font-size: 2rem;
    line-height: 34px;
  }

  &__btn {
    width: 184px;
    height: 60px;
    margin-top: 30px;
    @include flexcenter;
  }
}
