.tracker {
    &__wrapper {
        background: url(../../img/track/mapgeo.png) center no-repeat, 
        url(../../img/track/shapeTracker.png) no-repeat;
        min-height: 1400px;
        @include flexcenter
    }
    &__food {
        width: 625px;
        display: flex;
        flex-direction: column;
    }
    &__sandwich {
        align-self: center;
        margin-top: 180px;
    }
}